<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>게시판</h1>
<ul>
    <% resultJson.data.forEach(post => { %>
        <li>

            <h3><%= post.id %></h3>
            <h2><%= post.title %></h2>
            <pre><%= post.content %></pre>
            <h3><%= post.author %></h3>

            <% if(username === post.author){ %>
                <form action="/postUpdate/edit" method="post"> <!-- GET 방식으로 변경 -->
                    <input type="hidden" name="id" value="<%= post.id %>"/>
                    <input type="hidden" name="title" value="<%= post.title %>"/>
                    <input type="hidden" name="content" value="<%= post.content %>"/>
                    <button type="submit">수정</button>
                </form>

                <form action="/postDelete/<%= post.id %>" method="POST">
                    <button type="submit">삭제</button>
                </form>
                <!-- 수정 버튼 -->
            <% } %>



        </li>
    <% }); %>
</ul>

</body>
</html>